{% extends 'layout.html'%}{%block title %} Index {% endblock %}{%block content%}
<div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="row">

                                <div class="col-lg-12">
                                    <h2>COVID-19 News Detector </h2>
                                </div>
                                <div class="col-lg-12">
                                    <div class="main-green-button scroll-to-section">
                                        <a href="/login">Classify Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                            <!--<img src="{{ url_for('static', filename='assets/images/banner-right-image.png') }}" alt="" />-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="services" class="our-services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h6>Our Services</h6>
                    <h2>Discover What We Do &amp; <span>Offer</span> To Our <em>Clients</em></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/service-icon-01.png') }}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Similar Websites</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/service-icon-02.png') }}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Website Trends</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/service-icon-03.png') }}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Traffic Analysis</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/service-icon-03.png') }}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Optimizing Keywords</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/service-icon-01.png') }}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Page Optimizations</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='assets/images/service-icon-02.png') }}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="right-content">
                                <h4>Deep URL Analysis</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dormque laudantium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}