{% extends 'layout.html'%}{%block title %} Portofolio {% endblock %}{%block content%}
<div id="portfolio" class="our-portfolio section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">

                    <h2>PROFILE </h2>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="features-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">

                                <div class="icon"></div>
                                <h4>Edit Here</h4>

                                <form action="/update" method="POST">
                                    <input type="hidden" name="id" value="{{current_user.id}}">
                                    <div class="line-dec"></div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" value="{{current_user.name}}" name="name">

                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput" value="{{current_user.email}}" name="email">

                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPassword" value="{{current_user.password}}" name="password">

                                    </div>

                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="re-type Password" name="repassword">

                                    </div>




                                    <div class="col-lg-12 ">
                                        <div class="main-green-button scroll-to-section">
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
{%endblock %}